<h3><i class="fas fa-book-reader">StoryBooks</i></h3>
<section>
    <p class="lead">Create public and private stories from your life</p>
</section>
<div class="divider"></div>
<section>
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i> Log In With Google</a>
</section>