:root {
  --bg-dark-100: #040d21;
  --bg-dark-200: #151a21;
  --bg-dark-300: #0b0e11;
  --color-green-light: #a2facf;
  --color-blue: #64acff;
  --color-blue-dark: #8193b2;
  --color-red-100: #ef5350;
}

body {
  background-color: var(--bg-dark-300);
  color: white;
}

.app-name {
  background: -webkit-linear-gradient(
    -70deg,
    var(--color-green-light),
    var(--color-blue)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-weight: 900;
}

.app-info {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-blue-dark);
}

p {
  margin: 10px 0 !important;
}

.login-container {
  margin-top: 50px;
  text-align: center;
}

.login-card {
  background-color: var(--bg-dark-100);
}

.btn-login {
  border-radius: 5px;
}

.btn-login:hover {
  background-color: var(--color-red-100) !important;
}

.nav-header {
  background-color: var(--bg-dark-200);
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
