:root {
  --bg-dark-000: #323d4d;
  --bg-dark-100: #30363d;
  --bg-dark-200: #242c37;
  --bg-dark-300: #151a21;
  --bg-dark-400: #0d1117;
  --bg-dark-500: #0b0e11;
  --color-green-light: #a2facf;
  --color-blue-primary: #64acff;
  --color-blue-secondary: #8d9fbe;
  --color-red-100: #ef5350;
  --color-dark-100: #5d7290;
}

body {
  background-color: var(--bg-dark-500);
  color: white;
}

.app-name {
  background: -webkit-linear-gradient(
    -70deg,
    var(--color-green-light),
    var(--color-blue-primary)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-weight: 900;
}

.app-info {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-blue-secondary);
}

p {
  margin: 10px 0 !important;
}

.login-container {
  margin-top: 50px;
  text-align: center;
}

.login-card {
  background-color: var(--bg-dark-300);
}

.btn-login,
.login-card {
  border-radius: 5px;
}

.btn-login:hover {
  background-color: var(--color-red-100) !important;
}

.nav-header {
  background-color: var(--bg-dark-300);
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.divider {
  width: 0;
}

.dashboard {
  font-weight: 500;
}

.user {
  background-color: var(--bg-dark-300);
  text-align: center;
  padding-bottom: 11px;
  border-radius: 5px;
  margin-top: 4rem;
  padding-top: 2rem;
}

.user > h3 {
  font-size: 2rem;
}

.user > h1 {
  margin-top: 0;
}

p.no-stories {
  text-align: center;
  font-size: 1.4rem;
}

.input-field * {
  color: grey;
}

.user-input {
  color: white;
}

.striped > tbody > tr {
  background-color: var(--bg-dark-200) !important;
}

.striped > tbody > tr > td > a {
  color: white !important;
}

.striped > tbody > tr > td:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

.striped > tbody > tr > td:nth-last-child(1) {
  border-radius: 0px 5px 5px 0px;
}

.user-card {
  background-color: var(--bg-dark-400);
  border-radius: 6px;
  border: 1px solid var(--bg-dark-100);
}

.user-card-title {
  color: var(--color-blue-secondary);
}

.user-card-action {
  border-radius: 0px 0px 6px 6px !important;
}

.user-story-card {
  background-color: var(--bg-dark-300);
}

.user-story-date {
  color: var(--color-dark-100);
}
